@media (max-width: 768px) {
    .view-admin {
        top: -29px;
    }

    .card-outer {
        width: 100%;
        margin: 5px 0;
    }

    .ptitle-price {
        font-size: 14px;
    }
}

.view-admin {
    position: absolute;
    top: -49px;
    z-index: 1;
}


.card-outer {
    position: relative;
    top: 70px;
    width: 200px;
    height: 350px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: white;
    display: inline-block;
    margin-top: -13px;
    margin-bottom: 23px;
    margin-left: 9px;
}

.detelee {
    background-color: transparent;
    border: none;
    /* margin-left: 50px; */
    color: red;
}

.editt {
    background-color: transparent;
    border: none;
    color: rgb(2, 164, 2);
}

.editt:hover {
    color: rgb(1, 105, 1);
}

.detelee:hover {
    color: rgb(196, 1, 1);
}

.buttons {
    margin-top: 8px;
}

.ptitle-price {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
}

.ptitle-name {
    text-transform: capitalize;
}

.viewadmin {
    background-color: transparent;
    border: none;
    color: rgb(19, 19, 243);
}

.viewadmin:hover {
    color: rgb(8, 8, 141);
}

.nice_scrolls {
    position: relative;
    top: 60px;
}

.nice_scrolls li {
    cursor: pointer;
}

.head-view-admi {
    text-decoration: none;
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: rgb(168, 19, 89);
}

.filter_admin_no{
    position: relative;
    top: 120px;
    text-align: center;
}

.demmy_1{
    margin-bottom: 70px;
}