.newpass_nav {
    position: relative;
    top: -100px;
}

.newpass_main {
    position: relative;
    top: 90px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 560px;
    margin: 50px auto;
    border: none;
    padding: 30px;
    box-shadow: 0px 0px 22px 11px rgb(184, 187, 154);
}

.change_head {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(36, 35, 35);
}

.textnewpass {
    color: #080808;
    background-color: transparent;
    width: 10cm;
    padding: 10px;
    margin-bottom: 7px;
    border: 1.3px solid #363636;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

.textnewpass:focus {
    background-color: transparent;
    outline: 0;
    border: 1.3px solid rgba(189, 189, 11, 0.966);
    border-radius: 20px;
    color: rgb(31, 30, 30);
}

.newpass_submit {
    position: relative;
    top: 25px;
    text-align: center;
    height: 40px;
    background-color: #259727;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 40%;
    transition: background-color 0.2s;
}

.newpass_submit:hover {
    cursor: pointer;
    background-color: #16741a;
}